<h4>List of all users...</h4>

<div id='card'>
  <% @users.each do |user| %>
    <%# <%= image_tag user.photo, style: 'height: 20%; width: 20%;' %>
    <div id = 'card_text'>
      <h2><%= user.name %> </h2> 
      <p> Number of posts: <%= user.posts_counter %></p>
      <p> <%= link_to "Show this user", "/users/#{user.id}" %> </p>
    </div>
  <% end %>
  <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
</div>
