<h1>All Post here</h1>

<article id = 'card'>
  <img src=<%@user.photo%> alt=<%@user.name%> id = 'card_img'>
  <h2>User: <%= @user.name%></h2>
  <p>Bio: <%= @user.bio%></p>

  <% @posts.each_with_index do |post, index| %>
    <div id = 'card_text'>
      <p>post #<%= index + 1 %></p>
      <h2><%= post.title %></h2> 
      <p><%= post.text%></p>
      <%comment = Comment.where(post_id: post.id)%>
      <%comment.each_with_index do |comment, index|%>
        <% if index < 3%>
          <%user = User.find(comment.author_id)%>
          <p> comment #<%= index + 1 %></p> 
          <p><%= user.name%>: <%= comment.text %></p> 
        <% end%>
      <% end %>
    </div>
    <%= link_to "Show this post", "/users/#{@user.id}/posts/#{post.id}"%> <br>
    <%= link_to "Edit this post", "/users/#{@user.id}/posts/#{post.id}/edit"%> <br>
  <% end %>
  <br><br>
    <%= link_to "Create a new post", "/users/#{@user.id}/posts/new"%>
</article>
